mat-card {
    display: block;
    margin: auto;
    position: relative;
    top: 100px;
    width: 60%;
}

.width-fit {
    width: fit-content;
}

div {
    margin: auto;
}

mat-form-field {
    display: block;
    margin: auto;
}

button {
    background-color: lightblue;
}

.login-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.register-text {
    display: block;
    margin-bottom: 10px;
}