mat-card {
    display: block;
    margin: auto;
    position: relative;
    top: 150px;
    width: 60%;
}

.width-fit {
    width: fit-content;
}

div {
    margin: auto;
}

mat-form-field {
    display: block;
    margin: auto;
}

button {
    background-color: lightblue;
}