button[mat-icon-button] {
    font-size: 24px;
    color: gray;
    display: block;
    margin: auto;
    background-color: lightblue;
}

app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    overflow: hidden;
    z-index: 1000;
}

.scrollable-content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
}