app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    overflow: hidden;
    z-index: 1000;
}

mat-sidenav-content {
    height: -webkit-fill-available;
}

.scrollable-content {
    position: relative;
    top: 56px;
    left: 0;
    right: 0;
}